
.DS_Store

*.xcodeproj

CGBar.xcodeproj/project.pbxproj

CGBar.xcodeproj/project.xcworkspace/contents.xcworkspacedata

CGBar.xcodeproj/project.xcworkspace/xcuserdata/gerente.xcuserdatad/UserInterfaceState.xcuserstate

CGBar.xcodeproj/xcuserdata/gerente.xcuserdatad/xcschemes/CGBar.xcscheme

CGBar.xcodeproj/xcuserdata/gerente.xcuserdatad/xcschemes/xcschememanagement.plist

CGBar/CGBar.1

*.o

CGBar/primitivas

*.sdf

*.sln

*.suo

*.ilk

*.pdb

CGBar/Debug

.gitignore.swp

CGBar/CGBar.opensdf
CGBar/CGBar.vcx*
